.card {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 272px;
}

.image {
}
.price {
	display: flex;
	text-align: center;
}
.price svg {
	margin-left: 4px;
}
.name {
	text-align: center;
}
