.logo {
	display: flex;
	align-items: center;
}
.logoMobile {
	display: none;
}
.logoDesktop {
	display: flex;
}
@media screen and (max-width: 991.9px) {
	.logoMobile {
		display: flex;
	}
	.logoDesktop {
		display: none;
	}
}
