.wrapper {
	position: relative;
}

.innerWrapper {
	/* padding-top: 8px;
	padding-bottom: 8px; */
	/* margin-top: 16px; */
	/* padding-left: 32px; */
	transition: all 0.2s linear;
}
.active .innerWrapper {
	/* background: green; */
	transition: all 0.2s linear;
}

.activeBefore .innerWrapper {
	padding-top: 96px;
	transition: all 0.2s linear;
	/* background: green; */
}

.activeAfter .innerWrapper {
	transition: all 0.2s linear;
	/* background: blue; */

	padding-bottom: 96px;
}
.innerWrapperBun {
	padding-left: 0;
	padding-bottom: 0;
	padding-top: 0;
}

.bar {
	display: none;
	position: absolute;
	left: 32px;
	right: 10px;
	height: 10px;
	background-color: #8585ad;
	background: rgb(128, 26, 179);
	background: linear-gradient(
		90deg,
		rgba(128, 26, 179, 1) 0%,
		rgba(76, 76, 255, 1) 50%,
		rgba(128, 26, 179, 1) 100%
	);
	border-radius: 50%;
	-webkit-filter: blur(2px);
	z-index: -999;
}
.bar.top {
	top: -5px;
}
.bar.bottom {
	bottom: -5px;
}
.dropOverlay {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 50px;
	/* top: 0; */
	/* translate: 0 -50%; */
	height: 100%;
	/* background: rgba(255, 0, 255, 0.3); */
	z-index: 99999;
}
.afterDrop .innerWrapper {
	transition: none !important;
	/* border: 3px solid red;
	background-color: red; */
}
@media (max-width: 991.9px) {
	.activeBefore .innerWrapper {
		padding-top: 70px;
	}

	.activeAfter .innerWrapper {
		padding-bottom: 70px;
	}
	.dropOverlay {
		top: 36px;
	}
}
