.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 100px 0 20px 16px;
	flex-grow: 1;
	flex-basis: 600px;
}

.constructorIngredients {
	flex: 0 1 auto;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.list {
	overflow-y: auto;
	scrollbar-color: #8585ad #2f2f37;
	scrollbar-width: thin;
	padding: 0;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0;
	list-style: none;
	flex: 0 1 auto;
}

.listItem {
	position: relative;
}

.listItem:first-child {
	margin-top: 0;
}
.constructorElementWrapper {
	padding-left: 32px;
	padding-right: 20px;
}
.dragBtn {
	position: absolute;
	display: block;
	height: 24px;
	width: 24px;
	background: url(../../images/dnd.png) no-repeat center center;
	cursor: pointer;
	left: 0;
	top: 50%;
	margin-top: -12px;
}

.orderSummary {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: 20px;
}

.orderTotal {
	margin-right: 40px;
}
.mainPlaceholder,
.bunPlaceholder {
	display: flex;
	padding: 16px 24px;
	border-radius: var(--common-border-radius-s);
	background: var(--background-element);
	max-width: 536px;
	min-height: 80px;
	font-family: Jet Brains Mono;
	font-size: 16px;
	line-height: 24px;
	color: #f2f2f3;
	flex-grow: 1;
	box-sizing: border-box;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.bunPlaceholder {
	margin-left: 32px;
	margin-right: 20px;
}

.bunPlaceholderTop {
	border-radius: var(--top-constructor-item-border-radius);
}
.bunPlaceholderBottom {
	border-radius: var(--bottom-constructor-item-border-radius);
}
