.container {
	display: flex;
	flex-direction: row;
	height: 100%;
	max-width: 860px;
	width: 100%;
	margin: 0 auto;
}
.listCol {
	display: block;
	overflow-y: auto;
	scrollbar-color: #8585ad #2f2f37;
	scrollbar-width: thin;
	padding-right: 8px;
}
.wrapper {
	flex-grow: 1;
	flex-basis: 600px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
