.wrapper {
	max-width: 480px;
	margin: 200px auto 0;
	text-align: center;
}
.link {
	text-decoration: none;
	color: #4c4cff;
}
.link:hover {
	text-decoration: underline;
}
@media (max-width: 991.9px) {
	.wrapper {
		inset: 0;
		margin: auto;
		padding-inline: 8px;
	}
}
