.menuItem {
	cursor: pointer;
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: inherit;
	color: #8585ad;
	border-radius: 20px;
	text-decoration: none;
}

.menuItemActive {
	color: #fff;
}
@media screen and (max-width: 991.9px) {
	.menuItem {
	}
}
