.wrapper {
	/* flex: 1; */
	/* max-width: 600px; */
	flex-grow: 1;
	flex-basis: 600px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.heading {
	display: block;
}

.tabContent {
	display: block;
	overflow-y: auto;
	scrollbar-color: #8585ad #2f2f37;
	scrollbar-width: thin;
}

.tabName {
	display: block;
}

.list {
	display: flex;
	flex-wrap: wrap;
	max-width: 600px;
	justify-content: space-between;
	gap: 24px;
}

.listItem {
	max-width: 50%;
	list-style: none;
}
