.header {
	background: #1c1c21;
}

.container {
	position: relative;
	max-width: 1280px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.navigation {
	display: flex;
	font-size: 16px;
	flex: 1 0 0;
}
.navigation a {
	padding: 20px;
	width: max-content;
}
.navigationMobile {
	display: none;
}

.logoWrapper {
	/* position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); */
	display: flex;
	flex: 0 1 290px;
}
.right {
	display: flex;
	align-self: flex-end;
	flex: 1 0 0px;
}
.profileLink {
	padding: 20px;
	margin-left: auto;
}
.burger {
	display: none;
	width: 24px;
	height: 24px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 3px;
	cursor: pointer;
}
.burger span {
	width: 18px;
	height: 3px;
	background-color: #fff;
	display: block;
	margin: 0;

	border-radius: 10px;
}
.mobileMenuWrap {
	display: none;
}

.mobileMenuWrap .btnClose {
	position: fixed;
	z-index: 999;
	right: 8px;
	top: 20px;
}
@media screen and (max-width: 991.9px) {
	.header {
		height: 64px;
	}
	.navigation {
		display: none;
	}
	.burger {
		display: flex;
		inset: 0;
		margin: auto 8px;
	}
	.profileLink {
		display: none;
	}
	.logoWrapper {
		position: static;
		margin: 0;
		transform: unset;
	}
	.navigation {
		display: none;
	}
	.navigationMobile {
		display: flex;
	}
	.mobileMenuWrapShow {
		display: block;
	}
}
